body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}
/* header section starts */
.header-background {
  background-image: url("../images/banner/banner4.png");
  width: 1920px;
  height: 907px;
  background-repeat: no-repeat;
  position: relative;
}
.header-info {
  position: absolute;
  top: 216px;
  right: 230px;
  text-align: right;
  padding: 10px;
}
.header-title {
  color: var(--Dark-01, #151414);
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  height: 225px;
  width: 525px;
}
.header-description {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-weight: 400;
  width: 494px;
  height: 78px;
  margin-left: 30px;
  margin-top: 24px;
}
.contact-btn {
  width: 160px;
  height: 64px;
  border: 0px;
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 33px;
}

/* main section starts */

/* failing section starts */
.fail-container {
  margin-bottom: 180px;
  position: relative;
  justify-content: space-between;
}
.background-image {
  width: 527.929px;
  height: 527.929px;
  border: 0px;
  border-radius: 527.929px;
  background: rgba(241, 91, 34, 0.2);
  margin-top: 326px;
  margin-left: 200px;
  position: relative;
}
.image-of-girl {
  position: absolute;
  background-image: url("../images/person.png");
  background-repeat: no-repeat;
  height: 724px;
  width: 569px;
  margin-top: -194px;
  margin-left: -24px;
}
.fail-text {
  position: absolute;
  right: 0px;
  text-align: left;
  height: 328px;
  bottom: 220px;
  right: 500px;
}
.fail-title {
  color: var(--Dark-01, #151414);
  font-size: 40px;
  font-weight: 700;
  width: 288px;
}
.fail-description {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-weight: 400;
  width: 416px;
}
